/* font----------- */
@font-face {
    font-family: pageFont;
    src: url(font/Hunny\ Bummy.ttf);
    font-weight: thin;
}

@font-face {
    font-family: font2;
    src: url(font2/Gothix.ttf);
}
/* style to bodyd */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    background-color: rgb(15, 10, 10);
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
/*  style to all containers */
.container {
    background-color: rgba(240, 248, 255, 0.95);
    width: 350px;
    box-sizing: content-box;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
}

.container div {
    width: 180px;
}

input {
    width: 100%;
}

.container .image {
    margin: 10px auto;
    width: 55%;
}

.container>.image>img {
    border-radius: 20px;
    width: 100%;
    height: 100%
}

/* ---------section 1 edit -------------*/
#starter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* image edit */
.container #img1 {
    height: 100%;
}

/*------- making form for section 1 ---------*/
#starter>h3 {
    font-size: 23px;
}

#starter>button {
    background-color: rgb(15, 10, 10);
    margin: 10px;
    border-radius: 10px;
    padding: 14px 84px;
    transition: all 1s;
    cursor: pointer;
}

#starter button:first-of-type {
    border: none;
}

#starter button>a {
    color: azure;
    text-decoration: none;
    font-size: 16px;
}

#starter>button:last-of-type {
    background-color: rgba(240, 248, 255, 0.95);
}

#starter>button:last-of-type:hover {
    border: none;
}

#starter>button:last-of-type>a {
    color: rgb(15, 10, 10);
}

#starter button:hover {
    background: linear-gradient(to right, rgb(15, 10, 10) 58%, rgba(240, 248, 255, 0.95))
}

#starter button:last-of-type:hover a {
    color: #ffff;
}

/* -----------end section1 edit---------- */
#img2 {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    position: relative;
    margin-bottom: 8px;
}

form .password small a {
    display: block;
    text-align: end;
    text-decoration: none;
    color: rgb(15, 10, 10);
    margin: 3px 10px 6px 0px;
}

label {
    display: inline-block;
    opacity: 0.8;
    margin: 0px 0px 5px 10px;
    color: black;
    font-size: 13px;
}

form input {
    padding: 6px 0px;
    margin-bottom: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
}

form .btn>input {
    padding: 14px;
    background-color: rgb(15, 10, 10);
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 1s;
}

form .btn>input:hover {
    background: linear-gradient(to right, rgb(15, 10, 10) 58%, rgba(240, 248, 255, 0.95));
}

h5 {
    margin-top: 5px;
}

#createAccount>#img3 {
    width: 75%;
}

form div small {
    /* margin-left: 8x; */
    color: rgba(255, 0, 0, 0.873);
}

form div i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}