@font-face {
    font-family: persion;
    src: url(B-Mehr/B\ Mehr\ Bold_0.ttf);
}
h3 , p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(242, 236, 228);
    font-family: persion;
    background: linear-gradient(to right ,#121212 60%, #3e0a0a);
    box-sizing: border-box;
    color: rgba(190, 236, 97, 0.777);
}

#container {
    margin: 50px auto;
    text-align: center;
    width: 1000px;
    min-width: 500px;
    max-width: 1200px;
    border-radius: 10px;
}
hr{
    width: 0px;
    animation: load 0.3s linear forwards;
}

#form {
    width: 500px;
    margin: 10px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(to right ,#121212 60%, #3e0a0a);
    flex-direction: column;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    padding: 30px;
    /* display: inline-block; */
    border-radius:10px;
}

.form-control {
    position: relative;
    padding-bottom: 19px;
}

.form-control label {
    display: block;
    text-align: end;
    padding: 8px;
    animation: labelLoad 0.5s linear;
}

.form-control input {
    visibility: hidden;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    border: none;
    animation: inputLoad 0.5s ease-in forwards;
    animation-delay: 1s;
}

#btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: persion;
    padding: 10px 28px;
    background: none;
    color: rgb(104, 236, 97);
    border-radius: 8px;
}

.form-control input:focus {
    outline: 0;
    border-color: rgb(205, 18, 137);
    border-radius: 2px;
    transition: all 0.2s;
}

.form-control.success input {
    border:1px solid rgb(41, 196, 41);
}

.error input {
    border:1px solid rgb(212, 35, 29);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}

.form-control.error small {
    visibility: visible;
}

.form-control small {
    font-size: small;
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
